.main_menu{
    background-color: transparent;
    /* color: rgb(250, 236, 236); */
}
.menu .nav .nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.menu .nav .nav-item .nav-link{
    /* color: white; */
    font-weight: 700;
    font-size: 9pt;
    font-family: Roboto, sans-serif;
    text-transform: uppercase; 
}
.menu .nav .active{
    color: #f44186;
}